<!DOCTYPE html>

<html>
  <head>
    <title>WikiLink | Jonathan Marcantonio</title>
    <link
      rel="icon"
      type="image/png"
      href="https://cdn.freecodecamp.org/universal/favicons/favicon-16x16.png"
    />
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>WikiLink</h1>
    <main>
      <section>
        <form action="/wikiurl" method="POST">
          <fieldset>
            <legend>Wikify</legend>
            <label for="url_input">URL:</label>
            <input id="url_input" type="text" name="url" placeholder="https://github.com/lennysgarage" />
            <input type="submit" value="POST URL" />
          </fieldset>
        </form>
      </section>
    </main>
    <footer>
      <p>By <a href="https://github.com/lennysgarage" target="_blank">Jonathan Marcantonio</a></p>
    </footer>
  </body>
</html>
