@import  url(https://fonts.googleapis.com/css?family=Montserrat);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#tsparticles {
  height: 100%;
  width: 100%;
  position: absolute;
}

h1 {
  color: var(--light-text);
  width: 100%;
}

h2 {
  position: relative;
  text-align: center;
  color: var(--light-text);
}

html, #root {
  background-color: var(--dark-background);
  color: var(--dark-text);
  position: relative;
  height: 100%;
  width: 100%;
}

body{
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Montserrat;
}

.WikifyInput {
  position: relative;
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p.card-text {
  padding-top: 0px;
  font: 16px;
}

p {
  padding-top: 100px;
  font: 24px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: var(--light-text);
}


.theme-light {
  --dark-text: #5E4B56;
  --light-text: #5E4B56;
  --dark-background: #CAF0F8;
  --light-background: #CAF0F8;
  --accent: #DBE7E4;
  --button-border: #5E4B56;
  --sep: #E0E1DD;
}

.theme-dark {
  --dark-text: #292929;
  --light-text: #F9F8F8;  
  --dark-background: #3F37C9;
  --light-background: #3F37C9;
  --accent: #B8DBD9;
  --button-border: #B8DBD9;
  --sep: #E0E1DD;
}


